In [1]:
import pandas as pd

# Датасет сайта Kinoviews

In [2]:
dfkino = pd.read_csv('parsing_datasets/htmldf.csv')

In [3]:
dfkino.head()

,idFilm,titleRU,titleEN,yearPub,description,chrono,country,genre,producer,starActor1,starActor2,rating
0,1,Побег из Шоушенка,The Shawshank Redemption,1994,"""Побег из Шоушенка"" - фильм, который считается...",142 мин.,США,драма,Фрэнк Дарабонт,Тим Роббинс,Морган Фриман,9.44
1,2,Крестный отец,The Godfather,1972,"Фильм, ставший классикой своего жанра, рассказ...",175 мин.,США,"драма, триллер",Френсис Форд Коппола,Аль Пачино,Марлон Брандо,9.11
2,3,Темный рыцарь,The Dark Knight,2008,Бэтман вершит правосудие в Готэме. Его партнер...,152 мин.,США,"боевик, драма, кинокомикс, криминал, триллер",Кристофер Нолан,Кристиан Бейл,Хит Леджер,9.12
3,4,Крестный отец 2,The Godfather: Part II,1974,Продолжение эпохальной саги режиссера Френсиса...,202 мин.,США,"драма, криминал",Френсис Форд Коппола,Аль Пачино,Роберт Дюваль,8.88
4,5,12 разгневанных мужчин,12 Angry Men,1957,Один из 12 присяжных в деле об убийстве пытае...,96 мин.,США,"детектив, драма",Сидни Люмет,Генри Фонда,Джек Уорден,9.16

In [8]:
dfkino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   idFilm       250 non-null    int64
 1   titleRU      250 non-null    object
 2   titleEN      250 non-null    object
 3   yearPub      250 non-null    int64
 4   description  250 non-null    object
 5   chrono       250 non-null    object
 6   country      250 non-null    object
 7   genre        250 non-null    object
 8   producer     250 non-null    object
 9   starActor1   250 non-null    object
 10  starActor2   250 non-null    object
 11  rating       250 non-null    float64
dtypes: float64(1), int64(2), object(9)
memory usage: 23.6+ KB

# Датасет JSON файлов

In [4]:
dfjson = pd.read_csv('parsing_datasets/jsondf.csv')

In [5]:
dfjson.head()

,name_company,rate_company,subscribers,industries,about_company,text,publish_date,rate_post,views_post,refs_quant
0,Cybersport.Metaratings,0.0,0,Нет информации,Неизвестно,7 декабря состоялась церемония награждения лау...,2025-12-08 09:30:00,6,2300,1
1,ESforce Holding,0.0,0,Нет информации,Неизвестно,7 декабря состоялась церемония награждения лау...,2025-12-08 09:30:00,6,2300,4
2,ESforce Holding,0.0,0,Нет информации,Неизвестно,Из совместного исследования издателя компьютер...,2025-07-29 13:50:00,12,2800,4
3,ESforce Holding,0.0,0,Нет информации,Неизвестно,По статистике The Esports Observer за I полови...,2025-07-09 09:33:00,18,6200,4
4,ESforce Holding,0.0,0,Нет информации,Неизвестно,Компании SuperData Research и PayPal провели с...,2025-04-11 12:43:00,11,10000,4

In [9]:
dfjson.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1112 entries, 0 to 1111
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name_company   1112 non-null   object
 1   rate_company   1112 non-null   float64
 2   subscribers    1112 non-null   int64
 3   industries     1112 non-null   object
 4   about_company  1112 non-null   object
 5   text           1112 non-null   object
 6   publish_date   1111 non-null   object
 7   rate_post      1112 non-null   int64
 8   views_post     1112 non-null   int64
 9   refs_quant     1112 non-null   int64
dtypes: float64(1), int64(4), object(5)
memory usage: 87.0+ KB

# Датасет PDF файлов

In [6]:
dfpdf = pd.read_csv('parsing_datasets/pdfdf.csv')

In [7]:
dfpdf.head()

,title,name_company,rating,date_publish,activity,text_article
0,"Cocoapods, Carthage, SPM как выбрать менеджер ...",red_mad_robot,117.94,2023-03-20,№1 в разработке цифровых решений для бизнеса,6 часов назад Средний18 мин redmadrobot Cocoap...
1,Deutsche Telekom и Perplexity объявили о новом...,Технократия @technokratiya,4.40,2025-03-03,ИТ-Компания,Сайт Сайт Тем не менее это свидетельствует о т...
2,imgonline-com-ua-site2pdfB28eKGLy6EjA,Cloud4Y,71.07,2023-03-20,#1 Корпоративный облачный провайдер,Автор оригинала: Yashwant Singh Взлом Instagra...
3,OpenAI отходит от теории внезапного прорыва в ...,BotHub,459.20,2025-03-07,"Агрегатор нейросетей: ChatGPT, Claude, Midjourney","Подписаться OpenAI - компания, стоящая за Chat..."
4,OSINT & Hacking — как работает фишинг для нель...,Cloud4Y,71.07,2023-03-20,#1 Корпоративный облачный провайдер,Автор оригинала: Yashwant Singh Взлом Instagra...

In [10]:
dfpdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         23 non-null     object
 1   name_company  23 non-null     object
 2   rating        23 non-null     float64
 3   date_publish  23 non-null     object
 4   activity      23 non-null     object
 5   text_article  23 non-null     object
dtypes: float64(1), object(5)
memory usage: 1.2+ KB